{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="social">
          <div class="row">
              {% if association %}
                <form class="disconnect-form" action="{% url "social:disconnect_individual" backend=association.provider association_id=association.id %}" method="post">{% csrf_token %}
                  <a class="col-md-2 btn btn-danger" name="twitter" href="#">
                    <i class="fa fa-twitter"></i>
                    Disconnect Twitter
                  </a>
                </form>
              {% else %}
                <a class="col-md-2 btn btn-default" name="twitter" href="{% url "social:begin" "twitter" %}">
                  <i class="fa fa-twitter"></i>
                  twitter
                </a>
              {% endif %}
          </div>
      </div>
</div>

{% endblock %}