{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h2>Welcome</h2>
        <p>{{ user.get_full_name|default:user.username }}</p>
        <p>This is your detailed profile view.</p>
        <p>
            <img src="{{ user.picture_url }}" alt="{{ user.first_name}} {{ user.last_name }}" width="50"/>
                        <a href="#">{{ user.first_name }} {{ user.last_name}} {{ user.username }}</a>
        </p>
        <p>{{ user.description }}</p>

    </div>
</div>
{% endblock %}